*.nsys-rep
./cse599/*
trace.json
*.out
*.ncu-rep
*_demo/
*Demo/
*demo*/
*Answer*/
**/build/*
*.DS_Store

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# uv
uv.lock
